.btns {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  width: 100%;
  min-width: 145px;
  height: 40px;
  border-radius: 4px;
  background-color: #c00;
  color: #fff;
}
.inpt {
  border: 1px solid grey;
}
